@import "tailwindcss";

body {
  margin: 0 30px;
  background-color: #1f2937;
  color: #e5e7eb;
}

a {
  color: skyblue;
  text-decoration: none;
}

a:hover {
  color: #bdedff;
}

ul {
  list-style-type: disc;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}
